<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>


<div id="app">
    <button @click="clickMe(event,'Kéo')">Kéo</button>
    <button @click="clickMe(event,'Búa')">Búa</button>
    <button @click="clickMe(event,'Bao')">Bao</button>
    <img v-if="nameCard === 'Kéo'" src="images/keo.png" alt="">
    <img v-else-if="nameCard === 'Búa'"src="images/bua.png" alt="">
    <img v-else-if="nameCard === 'Bao'" src="images/bao.png" alt="">

    <button @click="randomIndex()">Chơi</button>

    <img v-if="computer === 'Kéo'" src="images/keo.png" alt="">
    <img v-else-if="computer === 'Búa'"src="images/bua.png" alt="">
    <img v-else-if="computer === 'Bao'" src="images/bao.png" alt="">
    <button @click="resetScore()">Reset score</button>
    <p>{{result}}</p>
    <p>{{score}}</p>


</div>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="index.js"></script>
</body>
</html>